# Specific files
[0-9]*.pdf
*.docx
*.env
*.pem
*.ppk
*.rdp
*.zip
windows-values*
credentials
**/L08/**/*.jp*g

# Specific directories
Resources/
node_modules/
libs/

# Non relevant sessions
Activities/Session 03*

